In [32]:
import pandas as pd
import numpy as np

#### Zu den Daten
Die Auswertung der Flugpassagiere nach Destination ist beim BfS auf Anfrage erhältlich. Aktuell ist der Zeitraum 2018 bis 2020 verfügbar.

Im Excel (wmove_wvs_2018_2020__kunde.xlsx) enthalten sind fünf Tabellenblätter:
* flughäfen: Übersicht über die verwendeten Abkürzungen
* wmove: Etappenziel nach Land
* wmove1: Etappenziel nach Land und Flughafen
* wvs: Endziel nach Land
* wvs1: Endziel nach Land und Flughafen

*Art der Passagiere*
* Passagiere: Passagiere, die eine Reise an diesem Flughafen antreten oder an diesem Flughafen umsteigen.
* Transitpassagiere: Passagiere, die nach einer Zwischenlandung im gleichen Flugzeug weiterfliegen.

### 1. Schritt: Daten einlesen

In [2]:
#Zwei relevante Tabellenblätter einlesen
xls = pd.ExcelFile('wmove_wvs_2018_2020__kunde.xlsx')
etappe = pd.read_excel(xls, 'wmove1', skiprows=3) #Etappenziel: Erster Flughafen nach Abflug aus ZRH
end = pd.read_excel(xls, 'wvs1', skiprows=4) #Endziel: Zielflughafen nach allfälligem Umsteigen

In beiden Dataframes sind Abflüge von allen Schweizer Flughäfen enthalten. Uns interessieren jene ab Zürich. Wir filtern nach diesen und bereinigen die Daten.

In [3]:
#Filtern nach Abflügen aus Zürich (=LSZH bzw. ZRH) und die Spalte dann entfernen
etappe = etappe[etappe['Flughafen'] == 'LSZH']
etappe.drop('Flughafen',axis=1,inplace=True)
end = end[end['Fluhafen'] == 'ZRH'] #Flughafen ist im Originaldokument falsch geschrieben
end.drop('Fluhafen',axis=1,inplace=True)

In [4]:
#Jahr und Monat sind in unterschiedlichen Spalten erfasst, die wir zusammenführen
etappe['Datum'] = etappe['Jahr'].astype(str) + '-' + etappe['Monat'].astype(str)
end['Datum'] = end['Jahr'].astype(str) + '-' + end['Monat'].astype(str)

In [5]:
#Die Spalten Monat und Jahr brauchen wir nun nicht mehr separat
etappe.drop(['Monat','Jahr'], axis=1, inplace=True)
end.drop(['Monat','Jahr'], axis=1, inplace=True)

In [6]:
#Die Datumsspalte ist noch nicht als solche formatiert. Das ändern wir
etappe['Datum'] =  pd.to_datetime(etappe['Datum'], format='%Y-%m')
end['Datum'] =  pd.to_datetime(end['Datum'], format='%Y-%m')

In [7]:
#Im Dataframe etappe sind Passagiere und Transitpassagiere getrennt, im Dataframe end nicht. Wir rechnen sie im Dataframe etappe zusammen.
etappe['Passagiere'] = etappe['Passagiere'] + etappe['Transitpassagiere']
etappe.drop('Transitpassagiere', axis=1, inplace=True)

In [8]:
#Wir pivotieren das Dataframe und trennen dabei im Datafram etappe gleich Flüge und Passagiere (im Dataframe end sind die Flüge nicht erfasst.)
etappe_pax = etappe.pivot(index='Datum', columns=['Zielkontinent','Zielland','Ort/Flughafen'], values='Passagiere')
etappe_flights = etappe.pivot(index='Datum', columns=['Zielkontinent','Zielland','Ort/Flughafen'], values='Flüge')
end_pax = end.pivot(index='Datum', columns=['Kontinent','Zielland','Ort/Flughafen'], values='Passagiere')

(6.1.22) Noch nicht ganz klar, ob Etappenziele oder Endziele sinnvoller ist. So oder so ist die Zahl deutlich kleiner als jene über Stat-Tab, weil dort An- und Abflüge drin sind, hier aber nur Abflüge. Aktuell arbeiten wir mit dem File Etappenziele, weil - Vermutung - dort mehr Flüge drin sein dürfen (alle Abflüge ab Zürich) als im anderen (nur Abflüge direkt ans Ziel).

* Fragen beim BfS deponiert: Gibts aktuellere Daten? Habe ich die Daten richtig verstanden?
* Frage beim BfS noch nicht deponiert: Gibt es genauere Daten? In der quartalsweisen Auswertung auf der Webseite des BAG sind sogar Flughäfen erfasst, nicht nur Zielorte (also LHR, LGW und Co. statt nur London)? Gibt es auch Daten zu den Ankünften?

In [17]:
#Zum Vergleich der Bedeutung eines Zielflughafens sind relative Angaben sinnvoller.
etappe_pax_rel = etappe_pax.div(etappe_pax.sum(axis=1), axis=0) * 100

#### 2.Schritt: Daten auswerten

In [35]:
#Die drei bedeutendsten Zielflughäfen pro Monat in ein Dataframe dftop schreiben.
dftop = pd.DataFrame(etappe_pax_rel.columns.values[np.argsort(-etappe_pax_rel.values, axis=1)[:, :3]], 
                  index=etappe_pax_rel.index,
                  columns = ['1st Max','2nd Max','3rd Max']).reset_index()
dftop

,Datum,1st Max,2nd Max,3rd Max
0,2018-01-01,"(1, Grossbritanien, London)","(1, Niederlande, Amsterdam)","(1, Deutschland, Berlin)"
1,2018-02-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
2,2018-03-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
3,2018-04-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
4,2018-05-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
5,2018-06-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
6,2018-07-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
7,2018-08-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
8,2018-09-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
9,2018-10-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
10,2018-11-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
11,2018-12-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
12,2019-01-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
13,2019-02-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
14,2019-03-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
15,2019-04-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
16,2019-05-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
17,2019-06-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
18,2019-07-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
19,2019-08-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
20,2019-09-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Oesterreich, Wien)"
21,2019-10-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
22,2019-11-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
23,2019-12-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
24,2020-01-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
25,2020-02-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
26,2020-03-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
27,2020-04-01,"(1, Deutschland, Frankfurt)","(1, Niederlande, Amsterdam)","(1, Grossbritanien, London)"
28,2020-05-01,"(1, Deutschland, Frankfurt)","(1, Portugal, Porto)","(1, Niederlande, Amsterdam)"
29,2020-06-01,"(1, Serbien / Montenegro / Kosovo, Beograd)","(1, Deutschland, Frankfurt)","(1, Deutschland, Berlin)"
30,2020-07-01,"(1, Deutschland, Berlin)","(1, Oesterreich, Wien)","(1, Portugal, Porto)"
31,2020-08-01,"(1, Grossbritanien, London)","(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)"
32,2020-09-01,"(1, Deutschland, Berlin)","(1, Niederlande, Amsterdam)","(1, Deutschland, Hamburg)"
33,2020-10-01,"(1, Serbien / Montenegro / Kosovo, Pristina (K...","(1, Türkei, Antalya)","(1, Serbien / Montenegro / Kosovo, Beograd)"
34,2020-11-01,"(1, Serbien / Montenegro / Kosovo, Pristina (K...","(1, Serbien / Montenegro / Kosovo, Beograd)","(1, Niederlande, Amsterdam)"
35,2020-12-01,"(1, Serbien / Montenegro / Kosovo, Pristina (K...","(1, Niederlande, Amsterdam)","(3, Vereinigte Arabische Emirate, Dubai)"

In [ ]:
#todo: Veränderung 2020 zu 2019 in relativer Bedeutung aber auch in absoluten Zahlen